
/* -----VideoList----- */
.list-group {
  padding-bottom: 2em;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  boder: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}


/* -----Weather----- */
.table thead th, .table td, .table th {
  vertical-align: middle !important;
  text-align: center;
}

.input-group {
  margin: 20px 0;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}
